/* this is a test comment */


body {
    font-family: system-ui;
    background: green;
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 24pt;
  }
  


  table {  
    border-collapse: collapse;  
    width: 100%;  
}  

th, td {  
    border: 4px solid whitesmoke;  
    padding: 8px;  
    text-align: center;  
    font-size: 24;
    font-weight: bold;
}

div.a {
  outline: 1px solid red;
}

h2 {
  outline: 5px dotted green;
}